.navigationBar
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(36, 36, 36);
}

.navigationBar li
{
    display: inline;
    float: right;
}

.navigationBar li a 
{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navigationBar li a:hover 
{
    background-color: #111;
}

.crudContentDiv
{
    padding: 0px 40px;
    background-color: rgba(2, 2, 65, 0.612);
    
}

.crudTitle
{
    margin-bottom: 40px;
}
